.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  height: 7%;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--cg-black);
  color: var(--cg-white);
  padding: 0 20px;
}

.logo a {
  font-family: sans-serif;
  color: var(--cg-white);
  text-decoration: none;
}

.logo a:hover {
  text-decoration: none;
}

.nav-list {
  display: flex;
  list-style: none;
  gap: 12px;
}

.nav-list a {
  color: var(--cg-white);
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 2px;
}

.nav-list a:hover {
  color: var(--cg-blue);
  text-decoration: underline;
}
